@import url("http://fonts.googleapis.com/css?family=Raleway:300|Press+Start+2P");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #232324;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	min-width: 530px;
}

.smallstar {
	font-size: 10px;
	vertical-align:30px;
}

h1 {
	font-family: "Press Start 2P", sans-serif;
	color: #00A7F5;
	font-size: 40px;
	margin-top: 8px;
	text-align: center;
	box-shadow: 2px 1px 4px 4px #0097E5;
	min-width: 530px;
}
h1>a:link, h1>a:visited, h1>a:active, h1>a:hover {
	color: #00A7F5;
	text-decoration: none;
}
h1>a:hover {
	text-decoration: underline;
}

h2 {
	color: #50F060;
	margin-top: 8px;
	font-size: 30px;
	text-align: center;
}

h2#entersite {
	margin-top: 2px;
	font-size: 20px;
}
h2#entersite a {
	color: #00A7FF;
	font-size: 30px;
	text-decoration: none;
}

hr {
	color: #FFFFFF;
}

nav {
	text-align: center;
	font-size: 14px;
	list-style: none;

	width: 100%;
	margin-top: 8px;

	background-color: #454545;
	padding-top: 5px;
	padding-bottom: 5px;
}
nav li {
	margin-left: 30px;
	display: inline;
	margin-right: 30px;
}
nav li:last-child {
}

nav li h4 {
	display: inline-block;
	background-color: #383838;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
nav li h4:hover {
	background-color: #555555;
}
nav li a {
	color: #00A7F5;
	text-decoration: none;
}

@media screen(min-width 400px) {
	nav li {
		margin-right: 20px;
	}
}

#footer {
	color: #FFFFFF;
	margin-top: 16px;
	font-size: 10px;
	text-align: center;
	text-shadow: 2px 2px 2px #888888;
}

#footer a {
	color: #DDDDFF;
	text-decoration: none;
	text-shadow: 2px 2px 2px #666688;
}

#content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.bluebutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:161px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
.bluebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
.bluebutton:active {
	position:relative;
	top:1px;
}